extends layout

block content
  h1= title
  p #{part.name}
  p #{part.image}
  p #{part.company}
  p #{part.category.name}
  p #{part.price}
  p #{part.sku}

  hr
  p Do you really want to delete this part?

  form(method='POST' action='/part/' + part.slug + '/delete')
    div.form-group
    input#partid(type='hidden',name='partid', required='true', value=part._id )

    button.submit-button(type='submit') Delete
