extends layout

block content
  div(class="heading-one-wrapper")
      h1 #{title}: #{category.name}

  div(class="main-wrapper")

    if parts.length

      p #[strong Delete the following parts before trying to delete this category.]

      div(style='margin-left:20px;margin-top:20px')

        h3 Parts

        ul
        each part in parts
          li
            a(href=part.url) #{part.name}

    else
      p Do you really want to delete this category?

      form(method='POST' action='/category/' + category.slug + '/delete')
        div.form-group
          input#categoryid(type='hidden',name='categoryid', required='true', value=category._id )

        button.submit-button(type='submit') Delete

