extends layout

block content
  h1= title
  each part in all_parts
    li 
        h3= part.name
        p Image: #{part.image}
        p Company: #{part.company}
        p Price: #{part.price}
        p SKU: #{part.sku}
        a(href="/part/"+part.slug) View part

  each category in all_categories
    h2 #{category.name}
    each part in category.parts 
      p #{part.name}
    h3 #{category.parts}
  p #{parts_count}
  p #{category_count}