extends layout

block content
  h1= title
  p #{name}
  p #{image}
  p #{category.name}
  p #{company}
  p #{price}
  p #{sku}

  hr
  p
    a(href=slug+'/update') Update part
  p
    a(href=slug+'/delete') Delete part