extends layout

block content
  div(class="main-wrapper")
    div(class="part-detail-container")
      div(class="part-detail-image")
        img(src=`/images/uploads/${image}`, alt=`${company + " " + name + " product image"}` )
      div(class="part-detail-info")
        h1 #{name}
        div(class="part-detail-categories")
          each cat in category
            span #{cat.name} 
        p #[strong Company:] #{company}
        p #[strong Price:] $#{price}
        p #[strong Part] # #{sku}

    hr

    div(class="update-delete-link-container")
      a(class="update-delete-links" href=slug+'/update') Update part
      a(class="update-delete-links" href=slug+'/delete') Delete part